{% extends 'base.html' %}   <!-- base.html 불러오기 -->
{% block title %}- 로그인{% endblock %}

{% block content %}
<br>
<div class="container">
    <h1>Login</h1>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        
        Password:
        <br>
        <input name="password" type="password" value="">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
</div>
{% endblock %}